.mainContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    align-items: center;
}

.pokeName {
    text-transform: capitalize;
}

.spriteContainer {
    flex-direction: row;
}

.abilityList {
    list-style: none;
    text-transform: capitalize;
    font-size: 1.4em;
    text-align: left;
}